<!DOCTYPE html>
<html ng-app="Home">
  <head>
    <title></title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../dist/vendor/skeleton/css/skeleton.css" />
    <!-- endbower -->
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../dist/css/style.css">
  </head>
  <body ng-controller="HomeController">

    <h1>Hello I am an app!I will List folder soon</h1>

    <!-- REQUIRED -->
    <script src="../jspm_packages/system.js"></script>
    <script src="../config.js"></script>
    <!-- bower:js -->
    <script src="../dist/vendor/angular/angular.js"></script>
    <script src="../dist/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="../dist/vendor/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <script src="../dist/app/home/home.js"></script>
    <script src="../dist/js/sample.js"></script>
  </body>
</html>
