@import 'base/base';
@import 'includes/nav';
@import 'includes/footer';

html, body {
	background: #1DCCEB;
	height: 725px;
	overflow: hidden;
	width: 368px;
	-webkit-app-region: drag;
	-webkit-user-select: none;
    .form-main{
        margin-top: -80px;
        text-align: center;
        input{
            width:80%;
            cursor: auto;
        }
        .form-container{
            width:100%;
            text-align:left;
            padding-left:15px;
            .stupbx-btn{
                width:80%;
                color:#FFF;
                border:none;
	            background: #2980b9;
                font-weight: bold;
                height:30px;
                line-height: 30px;
                border-radius: 3px;
                cursor:pointer;
            }
        }
    }
    .helper-menus{
        margin:100px 5px 5px 5px;
        font-weight: bold;
        padding:5px;
    }
    .helper-menus-signup{
        margin:80px 5px 5px 5px;
        font-weight: bold;
        padding:5px;
    }
    .problems{
        margin-right:55px;
    }
    .helper-menus a{
        cursor: pointer;
        color:#FFF;
    }
    .helper-menus a:hover{
        text-decoration: underline;
    }

    .helper-menus-signup a{
        cursor: pointer;
        color:#FFF;
    }
    .helper-menus-signup a:hover{
        text-decoration: underline;
    }
}
.main {
    background: #1DCCEB;
    border-bottom: 1px solid #73E2F7;
    height: 700px;
    img{
    	width:80px;
		margin-top: 80px;
    	margin-left:145px;
    }
}
.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}
.login-form{
	margin-top:180px;
	margin-left:50px;
}

.title {
  font-size:20px;
  font-family: 'Tahoma';
  margin: 1em auto;
  width: 30%;
  text-align: center;
  color: white;
  top: 20px;
}

.table1{
	color: white;
	
}