@import 'base/base';
@import 'includes/nav';
@import 'includes/footer';

html, body {
	background: #1DCCEB;
	height: 725px;
	overflow: hidden;
	width: 368px;
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
.main {
    background: #1DCCEB;
    border-bottom: 1px solid #73E2F7;
    height: 700px;
    img{
    	width:80px;
		margin-top: 80px;
    	margin-left:145px;
    }
}
.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}
.login-form{
	margin-top:180px;
	margin-left:50px;
}

.title {
  font-size:20px;
  font-family: 'Tahoma';
  margin: 1em auto;
  width: 30%;
  text-align: center;
  color: white;
  top: 20px;
}

.table1{
	color: white;
	
}