
  <div style="width:198px;">
	<div class="tabsin">
	  <div class="tab is-tab-selected">Notifications</div>
	  <div class="tab">File requests</div>
	  
	</div>
  </div>

<div>
  
  <!-- <h2>{{notification.type}}</h2> -->
  <!-- <p style="color:#ccc;font-size: 13px;">Richard requested you a file called me</p> -->
</div>
<style>
.md-button {
  text-transform: lowercase; !important;/*For Lower case use lowercase*/
}
</style>
<!-- <md-button aria-label="none"  class="md-raised md-warn" ng-click="upload($event)" flex="40"  flex-gt-md="auto">
    <span class="fa fa-rss"></span>Clear all
</md-button> -->
