<div style="">
        <ul>
            <li>
                <a href="#Feeds">Feeds</a>
            </li>
             <li>
                <a href="#People">People</a>
            </li>
             <li>
                <a href="#Groups">Groups</a>
            </li>
             <li>
                <a href="#Upload">Upload</a>
            </li>
             <li>
                <a href="#Files">Files</a>
            </li>
             <li>
                <a href="#Notifications">Notifications</a>
            </li>
        </ul>
</div>
<div class="people" ng-controller="PeopleController">
<ion-pane>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="people in people">
                <div class="suggestions">
                    <img class="img-circle" ng-src="{{people.avatar}}" style="width:60px;float:left;margin-right:12px;">
                    <p style="color:black;">{{people.username}}</p>
                    <ion-option-button class="button-energized" ng-click="follow(people.id)">Follow</ion-option-button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-pane>
</div>
