<div>
<ul>
    <li>
        <a href="#Feeds">Feeds</a>
    </li>
     <li>
        <a href="#People">People</a>
    </li>
     <li>
        <a href="#Groups">Groups</a>
    </li>
     <li>
        <a href="#Upload">Upload</a>
    </li>
     <li>
        <a href="#Files">Files</a>
    </li>
     <li>
        <a href="#Notifications">Notifications</a>
    </li>
</ul>
</div>
<ion-pane style="margin-left:135px;" notifiy>
  <div  ng-if="showPeople" class="col-xs-4 "   style="background:black;min-height:30px;">
    <div ng-repeat="f in followers">
      <div ng-init="params= {groupId:emitted, userId: f.id}"></div>
      <p style="color:white;">{{f.username}}</p>
          <img ng-src="{{f.avatar}}">
          <a ng-if="f.pivot.approved_to_participate==0"  ng-click="addPeople(params)">Add Participant</a>
          <a ng-if="f.pivot.approved_to_participate==1"  ng-click="removePeople(params)">removePeople</a>
    </div>
  </div>
  <div ng-if="showBox" class="col-xs-4 "   style="background:black;min-height:30px;">
    <div ng-repeat="file in files">
      <p style="color:white;">{{file.name}}</p>
      <button ng-init="params= {groupId:emitted, fileId: file.id}" class="btn btn-success" ng-click="addFileToGroup(params)">Add to group</button>
    </div>
  </div>
  <div  ng-if="showGroup" class="col-xs-4 "   style="background:black;min-height:30px;">
    <div ng-repeat="f in files">
      <p style="color:white;">{{f.name}}</p>
      <button class="btn btn-success" ng-click="removeFromGroup()">remove from group</button>
    </div>
  </div>
  <!-- <div ng-show="!hide" ng-hide="hide">No Group created yet</div> -->
  <div class="col-xs-10"  ng-repeat="group in groups">
    <p>{{group.name}}</p>
    <a  ng-click="deleteGroup(group.id)">delete</a>
    <a  ng-click="initAddPeople(group.id)">participants</a>
    <a  ng-click="filesInBox(group.id)">inBox</a>
    <a  ng-click="filesInGroup(group.id)">Group files</a>
  </div>
  <div  class="col-xs-4 form-group">
      <input type="text" class="form-control" ng-model="info.name">
      <button ng-click="createGroup(info)" class="btn btn-primary">CreateGroup</button>
  </div>
</ion-pane>
